<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>notice</title>
  <link href="dist/app.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="BoardController as ctrl">
  <div class="board">
    <header>
      <h1>{{ctrl.title}}</h1>
    </header>
    
    <div class="board-content">
      <div class="lists">
        <div ng-repeat="list in ctrl.lists track by list.id" class="list">
        	<header>{{list.title}}</header>

          <div class="cards">
          	<div ng-repeat="card in list.cards track by card.id" class="card">
          		<header>{{card.title}}</header>
          		<p>{{card.description}}</p>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="dist/vendor.js"></script>
  <script src="dist/app.js"></script>
</body>
</html>